$button-bg: #38598b;
$link-text-color: #fff;
$overlay-color: #fff;
$black-text: black;
$border-radius: 0.7rem;
header {
  .container-fluid {
    margin-top: 2%;
    box-shadow: 1px 2px 1px $button-bg;
    nav {
      h2.headerfont {
        font-family: "Dancing Script", cursive;
      }
      p {
        text-transform: uppercase;
        margin-top: 1rem;
        a {
          font: {
            family: "Oswald", sans-serif;
            size: 90%;
          }
        }
      }
      .button-effect {
        .effect {
          text-align: center;
          display: inline-block;
          position: relative;
          text-decoration: none;
          color: $link-text-color;
          text-transform: capitalize;
          background-color: $button-bg;
          font: {
            family: "Oswald", sans-serif;
            size: 90%;
          }
          padding: 20px 0px;
          width: 100%;
          border-radius: $border-radius;
          overflow: hidden;
        }
        .effect.effect-5 {
          transition: all 0.2s linear 0s;

          &:before {
            content: "\f054";
            font-family: FontAwesome;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0px;
            height: 100%;
            width: 30px;
            background-color: rgba($overlay-color, 0.3);
            border-radius: 0 50% 50% 0;
            transform: scale(0, 1);
            transform-origin: left center;
            transition: all 0.2s linear 0s;
          }

          &:hover {
            text-indent: 30px;

            &:before {
              transform: scale(1, 1);
              text-indent: 0;
            }
          }
        }
      }
    }
  }
}

section {
  .container-fluid {
    margin-top: 1rem;
    position: relative;
    .col{
        position: relative;
    }
    img {
      opacity: 0.8;
    }
    .bg-img-title {
      text-transform: uppercase;
      font-weight: 600;
      writing-mode: vertical-rl;
      -webkit-text-orientation: mixed;
      text-orientation: mixed;
      position: absolute;
      bottom: 0;
      left: auto;
      padding: .5rem;
      font-family: "Oswald", sans-serif;
      color: $black-text;
      letter-spacing: 20px;
    }
  }
}
